{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <h1 class="navbar-brand" href="#">ShopNow</h1>
              
              <ul class="nav justify-content-end">
            
               <li>
            </li>
            
            <a href="{%url 'addproduct'%}" >Add New Product</a>
            <a href="{%url 'addForm'%}" >Add New Product form</a>
              </ul>
            </div>
          </nav>
        <div class="row">
            {%block product%}
            {% for product in product_list %}
                <div class="col-md-4">
                   
                    <div class="card mb-4 shadow-sm">
                         <img src="{{ product.get_image_url }}" class="bd-placeholder-img card-img-top" width="100%" height="225"
                        class="bd-placeholder-img card-img-top" width="100%" height="225">

                        <div class="card-body">
                            <p class="card-text"> {{ product.name}}</p>
                            <p class="card-text"> {{ product.price }} $</p>
                            <p class="card-text"> {{ product.description}}</p>
                            <div>
                                <button>
                                    <a href="{% url 'product_detail' id=product.id %}">Product Details</a>

                                </button>
                                <button>
                                    <a href="{% url 'product_delete' id=product.id %}">Delete</a>

                                </button>
                                <button>
                                    <a href="{% url 'product_update' id=product.id %}">update</a>

                                </button>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- Add any additional buttons or actions here if needed -->
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            {% endfor %}
            {%endblock%}
        </div>
    </div>
</body>
</html>
